body{
   background-image: url("assets/background.jpg");
}
p{
   color:white; 
   text-align: center; 
   font-size: 20px;
}
#title { 
   color:white; 
   text-align: center; 
   font-family:Castellar;
   font-size: 80px;
}
#piece1, #piece2{
   display:inline-block;
   margin-right:20px;  
} 
