body{
   color:white; 
   background-image: url("assets/background.jpg");
}
p{
   text-align: center; 
   font-size: 20px;
}
#title { 
   text-align: center; 
   font-family:Castellar;
   font-size: 80px;
}
